<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="icon"   href="https://img.icons8.com/color/344/javascript--v1.png" type="image/png" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/error.css')}}">
    <title>ERROR 404</title>
</head>
<body>
    <section class="error_section">
        <p class="error_section_subtitle">UPSS!!</p>
        <h1 class="error_title">
          <p>404</p>
          404
        </h1>
        <a href="/" class="btn">Volver atras</a>
      </section>

      <script>

 
            const title = document.querySelector('.error_title')


            document.onmousemove = function(e) {
  let x = e.pageX - window.innerWidth/2;
  let y = e.pageY - window.innerHeight/2;
  
  title.style.setProperty('--x', x + 'px')
  title.style.setProperty('--y', y + 'px')
}

            title.onmousemove = function(e) {
            let x = e.pageX - window.innerWidth/2;
            let y = e.pageY - window.innerHeight/2;

            let rad = Math.atan2(y, x).toFixed(2); 
            let length = Math.round(Math.sqrt((Math.pow(x,2))+(Math.pow(y,2)))/10); 

            let x_shadow = Math.round(length * Math.cos(rad));
            let y_shadow = Math.round(length * Math.sin(rad));

            title.style.setProperty('--x-shadow', - x_shadow + 'px')
            title.style.setProperty('--y-shadow', - y_shadow + 'px')

            }
      </script>
  
</body>
</html>